{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CYBERTECH SYSTEMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />
    <!-- css -->
    <link href="{% static 'mysite/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'mysite/css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'mysite/css/jcarousel.css' %}" rel="stylesheet" />
    <link href="{% static 'mysite/css/flexslider.css' %}" rel="stylesheet" />
    <link href="{% static 'mysite/js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mysite/et-line-font/style.css' %}" />
    <!--[if lte IE 7]><script src="lte-ie7.js' %}"></script><![endif]-->
    <link href="{% static 'mysite/css/style.css' %}" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js' %}"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper" class="home-page">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="navbar-brand pull-left" href="/"> <img
                                src="{% static 'mysite//logo.png' %}" alt="logo" /></a>
                        <p class="pull-right"><i class="fa fa-phone"></i> Tel No. (+254720882406 \ 02058847</p>
                    </div>
                </div>
            </div>
        </div>