{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
	
	<section id="banner">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static 'mysite/img/slides/2.jpg' %}" alt="" />
                <div class="flex-caption">
                    <h3>Web, IOS, and Android app Development</h3> 
					<p>World's leading business firms</p> 
					 
                </div>
              </li>
              <li>
                <img src="{% static 'mysite/img/slides/1.jpg' %}" alt="" />
                <div class="flex-caption">
                    <h3>Machine Learning</h3> 
					<p>Our company is best consulting firms</p> 
					 
                </div>
			  </li>
			  
			<li>
				<img src="{% static 'mysite/img/slides/1.jpg' %}" alt="" />
				<div class="flex-caption">
					<h3>Database administration, business intelligence and Analytics </h3>
					<p>Our company is best consulting firms</p>
			
				</div>
			</li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section> 
	<section id="call-to-action-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 aligncenter">
					<h3>WELCOME TO OUR COMPANY</h3>
					<p>PUTTING YOU’RE BUSINESS ON THE MAP.</p>
					
				</div> 
			</div>
		</div>
	</section>
	
	
	
	<section id="content">
	
	
	<div class="container">
		<div class="row">
		<div class="skill-home"> <div class="skill-home-solid clearfix"> 
		<div class="col-md-4 text-center"> 
		<div class="box-content"> 
		<span class="icons c1"><i class="icon-layers"></i></span> <div class="box-area">
		<h3>Custom Software Development</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p></div></div>
		</div>
		<div class="col-md-4 text-center"> 
		<div class="box-content focus"> 
		<span class="icons c2"><i class="icon-gears"></i></span> <div class="box-area">
		<h3>Machine Learning and AI.</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p></div></div>
		</div>
		<div class="col-md-4 text-center">  
		<div class="box-content">
		<span class="icons c3"><i class="icon-shield"></i></span> <div class="box-area">
		<h3>General ICT support</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p></div>
		</div> </div>
		</div></div>
		</div> 
	 

	</div>
	
		<section class="about home-about">
				<div class="container">
						
						<div class="row">
							<div class="col-md-4">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>Our Best Services</span></h3>
								</div>
								<p> We provide integrated
								communications, business and technology solutions. In partnership with global
								and backbone technology leaders, we deliver solutions to customers in Broadband
								Internet, ICT Solutions, Security, Cloud Solutions, Web and Mobile App
								Development. We deliver value through a combination of process excellence,
								quality frameworks and service delivery innovation.</p>
							</div>
							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>News & Updates</span></h3>
								</div>		
								<!-- Accordion starts -->
								<div class="panel-group" id="accordion-alt3">
								 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
								  <div class="panel">	
									<!-- Panel heading -->
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 1
										  </a>
										</h4>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 2
										  </a>
										</h4>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 3
										  </a>
										</h4>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 4
										  </a>
										</h4>
									 </div>
									 <div id="collapseFour-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								</div>
								<!-- Accordion ends -->
								
							</div>
							
							<div class="col-md-4">
								<div class="info-box">
								  <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      
<!-- Bottom Carousel Indicators -->
<ol class="carousel-indicators">
  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
  <li data-target="#quote-carousel" data-slide-to="1"></li>
  <li data-target="#quote-carousel" data-slide-to="2"></li>
</ol>
        
<!-- Carousel Slides / Quotes -->
<div class="carousel-inner">
	<h3>Our Partners</h3>

<!-- Quote 1 -->
<div class="item active">
  <div class="row">
    <div class="col-sm-12">
		
      <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.&rdquo;</p>
      <small><strong>Vulputate M., Dolor</strong></small>
    </div>
  </div>
</div>

<!-- Quote 2 -->
<div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.&rdquo;</p>
      <small><strong>Fringilla A., Vulputate Sit</strong></small>
    </div>
  </div>
</div>

<!-- Quote 3 -->
<div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.&rdquo;</p>
      <small><strong>Aenean A., Justo Cras</strong></small>
    </div>
  </div>
</div>
  
</div>
        

      </div>    
								</div>
							</div>
							
						</div>
						
						 						
						 
						<br>
					 
					  </div>
						
					</section>
					
					
	<section class="section-padding">
		<div class="container"> 
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
					    <h2>About Us</h2>
						<p>In partnership with global
						and backbone technology leaders, we deliver solutions to customers in Broadband
						<strong> ICT Solutions, Security, Cloud Solutions, Web and Mobile App
						Development.</strong> We deliver value through a combination of process excellence,
						quality frameworks and service delivery innovation.</p>
						<a href="{% url 'about-us' %}" class="lineBtn">Read More</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="{% static 'mysite/im/about.jpg' %}" alt="About Images">
					</div>
				</div>
			</div>
		</div>
	</section>	  
	
{% endblock content %}
